<div class="container-fluid py-5 px-5 foot" style="background-color:darkslategrey;" >
    <div class="row" >
        <div class="col col-3">
            <ul type="none" style="color: white;">
                <li class="py-2" style="text-decoration:underline;">Quick Links:</li>
                <li class="py-2"><a routerLink="/user/home">Home</a></li>
                <li class="py-2"><a routerLink="/user/flight-tickets-booking">flight tickets</a></li>
                <li class="py-2"><a routerLink="/user/train">train tickets</a></li>
                <li class="py-2"><a routerLink="/user/exotic">exoctic</a></li>
               
            </ul>
          
        </div>
        <div class="col-md-3">

        </div>
       
        <div class="col col-6">
            <ul type="none" style="color: white;">
                <li class="py-2" style="text-decoration:underline;">Follow Us On:</li>
                <li class="py-2"><a href="https://www.facebook.com/">Facebook</a></li>
                <li class="py-2"><a href="https://www.instagram.com/">Instagram</a></li>
                <li class="py-2"><a href="https://twitter.com/">Twitter</a></li>
                <li class="py-2"><a href="https://in.pinterest.com/">Pintrest</a></li>
                
            </ul>
        </div>
        <div class="col-md-3">

        </div>
        <hr style="color: white;" >
        <div class="last" style="display:inline">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <p style="color: white;" class="d-flex justify-content-start">© 2023 My tickets For All. All Rights Reserved.</p>            
                    </div>
                    <div class="col-md-6">
                        <p style="color: white;" class=" d-flex justify-content-end" >Terms-Services</p> 
                    </div>
                </div>
            </div>      
               
        </div>
       
    </div>
</div>
