.liki{
    margin-top:-80px;
    margin-left: 350px;
}
.nav{
    margin-top:20px;
    margin-left:90px
}
.img1{
    position: relative;
    left:450px;
}
a{
font-size:20px;
position: relative;
top:35px;
left: 150px;
}